@costFieldColor: #f3bfbf;
@revenueFieldColor: #afd1a0;
@costsTextColor: #fff;

.moneyField(@bgColor: false)
{
	input
	{
		color: @costsTextColor;
		font-weight: bold;
		text-align: right;

		background-color: @bgColor;

		& when not (@bgColor = false)
		{
			background-color: @bgColor;
		}		
	}
}

.moneyCell(@bgColor: false)
{
	color: @costsTextColor;
	font-weight: bold;
	text-align: right;

	background-color: @bgColor;

	& when not (@bgColor = false)
	{
		background-color: @bgColor;
	}
}

.datatable
{
	td[class*="Cost"],
	td[class*="cost"]
	{
		.moneyField(@costFieldColor);
	}

	td[class*="Revenue"],
	td[class*="revenue"]
	{
		.moneyField(@revenueFieldColor);
	}

	tr.approved-total-row-cost0 td.calculatedTotalRowCost,
	tr.approved-total-row-revenue0 td.calculatedTotalRowRevenue
	{
		.moneyField(grey);		
	}

	tr.approved-total-row-revenue1 td.calculatedTotalRowRevenue
	{
		.moneyField(green);
	}

	tr.approved-total-row-cost1 td.calculatedTotalRowCost
	{
		.moneyField(red);
	}

}

.fieldset-container-economicalsSummary
{
	div.money[class*="margin-"]
	{
		.moneyField(blue);
	}

	div.money
	{
		.moneyField;
	}
	
	div.money[class*="-revenue"]
	{
		.moneyField(green);
	}

	div.money[class*="-cost"]
	{
		.moneyField(red);
	}


}
